:root{
    --colourdark: rgb(166, 19, 82);
    --colourlight: rgb(65, 208, 108);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg.webp);
} 
/* NAVBAR */
nav{
    display: flex;
    align-items: center ;
    justify-content:space-between;
    padding: 30px 30px;
}
#check{
    display: none;
}
.menu{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h3{
    cursor: pointer;
    font-size: 30px;
}
.logo:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.logo span{
    color: var(--colourdark);
}
.logo img{
    height: 50px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li{
    font-size: larger;
    display: inline-block;
    padding: 30px;

}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
nav ul li:hover{
    transform: scale(1.2);
    transition: 0.4s;
}
nav ul li :hover{
    color: var(--colourdark);
}
/* HERO */
.hero{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heroIntro h4{
    padding: 5%;
    font-size: 30px;
    letter-spacing: 4px;
}
.heroIntro h1{
    font-size: 70px;
    color: var(--colourdark);
}    
.heroIntro h3{
    padding: 5%;
    font-size: 30px;
}
.heroIntro h3 span{
    font-size: 30px;
    color: var(--colourlight);
}
.about{
    display: flex;
    padding-bottom: 5%;
}
.developerImg{
    padding-left: 5%;
}
.info{
    padding: 5%;
}
.info h1{
    font-size: 50px;
    color: var(--colourdark);
    padding-bottom: 10%;
}
.info h2{
    color: var(--colourlight) ;
    font-size: 30px;
    padding-bottom: 5%;
}
.info p{
    font-size: 20px;
    padding-bottom: 10%;
}
.info a{
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border: 2px solid;
    background-color: var(--colourdark);
    border-radius: 15px;
}
.hire a:hover {
    color: var(--colourdark);
    background-color: white;
    transition: 0.5s; 
}
.education{
    padding: 10%;
}
h1{
    font-size: 50px;
    color: var(--colourdark);
    text-align: center;
}
.education ul li h2{
    font-size: 30px;
    color: var(--colourlight);
    padding-top: 5%;
    padding-bottom: 2%;
}
.education p{
    font-size: 20px;
}
.certificate{
    padding-top: 2%;
    font-size: 18px;
}
.certificate a{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border: 2px solid;
    background-color: var(--colourdark);
    border-radius: 15px;

}
.certificate a:hover{
    color: var(--colourdark);
    background-color: white;
    transition: 0.5s;
}
.name{
    font-size: 30px;
    color: var(--colourlight);
}
.btn{
    padding: 5%;
}
.cards{
    padding: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.card{
    border: 3px solid var(--colourdark);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.cards p{
    font-size: 20px;
}
.contact{
    display: flex;
    padding: 5%;
}
.contactDetails{
    padding: 0 5%;
}
.contactDetails h2{
    font-size: 30px;
    color: var(--colourdark);
    padding-bottom: 5%;
}
.primary span{
    font-size: 20px;
    color: var(--colourlight);
}
.contactDetails ul li{
    padding: 3%;
}
.contactDetails ul li a{
    text-decoration: none;
}
.message input{
    padding-bottom: 2%;
}
.msg{

    background-color: rgb(57, 53, 75);
    color: var(--colourdark);
}
.submit{
    padding: 2%;
    border: 2px solid;
    text-align: center;
    background-color: var(--colourdark);
}
.submit:hover{
    background-color: white;
    color: var(--colourdark);
}
.submit h2:hover{
    color: var(--colourdark);
}
@media only screen and (max-width: 850px){
    #check:checked ~ ul{
        left: 0;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    nav ul{
        position: fixed;
        top: 80px;
        width: 100%;
        height: 100%;
        background-color: var(--colourdark);
        left: -100%;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
    }
    nav ul li:hover{
        transform: scale(1);
    }
    .cards{

        grid-template-columns: repeat(1, 1fr);
    }
    nav ul li :hover{
        color: black;
    }
    .about{
        flex-direction: column-reverse;
    }
    .contact{
        flex-direction: column-reverse;
    }
    
}
@media only screen and (min-width: 850px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}







